.img {
  background-image: url(c.jpg);
  background-size: cover;
  padding: 16%;
}
.navbar{
  background-color: greenyellow;
   width: 100%;
    overflow: auto;
}
.navbar a {
  float: left;
  padding: 12px;
  color: brown;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
}
.navbar a.active {
  color: black;
}
.info h1 {
  color: purple;
  text-align: center;
}
